.first-image {
  border: solid 10px #c4007a;
}

h2 {
  position: absolute;
  bottom: 23px;
  left: 23px;
  max-width: 500px;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  h2 {
    position: absolute;
    bottom: 23px;
    left: 23px;
    max-width: 220px;
    font-size: 27px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: white;
  }
}

h3 {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 24px;
  left: 23px;
  bottom: 155px;
}

h4 {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 24px;
  left: 23px;
  top: 16px;
}

.bubble {
  position: absolute;
  bottom: 27px;
  right: 72px;
  max-width: 30px;
}

.first-section p {
  position: absolute;
  bottom: 23px;
  right: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 27px;
}

.title-image {
  position: relative;
}
